@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
  font-family: 'Bauhinia_Chinese';
  src: url('./../assets/bauhinia_font.ttf')  format('truetype');
}

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
  color:#333333;
}

html {
  /* background: url("./../assets/china_misty_mountain_painting-min.png") no-repeat fixed;
  background-size: cover;
  background-position: right;
  height: 100%;
  margin-top: 10%; */
}

::-webkit-scrollbar { 
    display: none;
}

.under-construction-text{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  font-size: large;
}

.title-and-content {
  text-align: left;
  bottom: 15%;
  left: 7.5%;
  position: fixed;
  z-index: 999;
  width: 50%;
  background: rgba(255,255,255,0);
  border-bottom: 2px black;
  cursor: default;
}

.title-div {
  cursor: default;
}

.title {
  font-family: 'Ubuntu';
  font-size: 75px;
  margin-bottom: 0.85%;
  color: #666;
}

#welcometext {
  font-family: 'Cardo';
  font-size: 25px;
  color: #666;
  margin: 1px;
}

#smalltext {
  font-family: 'Cardo';
  font-size: 17px;
  color: #666;
  margin: 1px;
}

.content-div {
  margin-top: 2.5vh;
  cursor: default;
}

.content-div a {
  font-family: 'Cardo';
  font-size: 17px;
  color: #666;
  margin: 1px;
}

.chinese_font_div {
  position: fixed;
  top: 23.5%;
  left: 54.75%;
  cursor: default;
}

.chinese_font span {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  color: beige;
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
  font-size: 110px;
  font-family: 'Bauhinia_Chinese';
}

/* -------------- ANIMATIONS -------------- */

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@-webkit-keyframes fadeOut {
  from { opacity:1 } 
  to { opacity:0 }
}

@keyframes fadeOut { 
  from{ opacity:1 } 
  to{ opacity:0 }
}