@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
  font-family: 'Bauhinia_Chinese';
  src: url('./../assets/bauhinia_font.ttf')  format('truetype');
}

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
  color:#333333;
}

html { 
  /* background: url("./../assets/unsplash3.jpg") no-repeat 0 -12vh fixed; */
  background: url("./../assets/main_background_up.jpg") no-repeat 0 -0vh fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: 10%;
}

::-webkit-scrollbar { 
    display: none;
}

.title-div {
  text-align: left;
  top: 15%;
  left: 7.5%;
  position: fixed;
  z-index: 999;
  width: 50%;
  background: rgba(255,255,255,0);
  border-bottom: 2px black;
  cursor: default;
}

.title {
  font-family: 'Ubuntu';
  font-size: 75px;
  margin-bottom: 0.85%;
  color: beige;
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
}

#welcometext {
  font-family: 'Cardo';
  font-size: 25px;
  color: beige;
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
  margin: 1px;
}

#smalltext {
  font-family: 'Cardo';
  font-size: 17px;
  color: beige;
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
  margin: 1px;
}

.fixed-bg {
  height: 75vh;
}

.fixed-bg .main_clock_div{
  position: absolute;
  top: 46.5%;
  left: 51%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.main_clock_div #main_clock {
  display: inline;
  background-color: transparent;
  color: #EEEEEE;
  font-size: 90px;
  font-family: 'Lato';
  text-shadow: 0px 0.1px 2px black;
  margin: 0.2vw;
  cursor: default;
  text-align: center;
}

.main_clock_div #main_clock_ampm {
  display: inline;
  background-color: transparent;
  color: #EEEEEE;
  font-size: 30px;
  font-family: 'Lato';
  text-shadow: 0px 0.1px 2px black;
  cursor: default;
  text-align: center;
}

.fixed-bg #main_date {
  position: absolute;
  color: #EEEEEE;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 20px;
  font-family: 'Lato';
  text-shadow: 0px 0.1px 2px black;
  padding: 12px 24px;
  cursor: default;
  border-radius: 5px;
  text-align: center;
}

.fixed-bg .openasana_button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #EEEEEE;
  color: #EEEEEE;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.fixed-bg .openasana_button:focus {
  outline: none;
}

.fixed-bg #loaderspinner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  text-align: center;
  width: 10%;
  display: none;
}

#main_container {
  width: 80%;
  margin: 10%;
  position: relative;
  background: transparent;
}

#main_container .workspace_container {
  position: relative;
  border-top: 1vh solid #FBFBFB;
  border-left: 5vh solid #FBFBFB;
  border-right: 5vh solid #FBFBFB;
  border-bottom: 2vh solid #FBFBFB;
  margin-top: 3vh;
  margin-bottom: 3vh;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  background: #FBFBFB;
}

.chinese_font_div {
  position: fixed;
  top: 23.5%;
  left: 54.75%;
  cursor: default;
}

.chinese_font span {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  color: beige;
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
  font-size: 110px;
  font-family: 'Bauhinia_Chinese';
}

/* -------------- ANIMATIONS -------------- */

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@-webkit-keyframes fadeOut {
  from { opacity:1 } 
  to { opacity:0 }
}

@keyframes fadeOut { 
  from{ opacity:1 } 
  to{ opacity:0 }
}