@media screen and (max-width: 850px) {
  .landing > .headshot-container {
    position: relative;
    padding: 0;

    > .headshot {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .landing > .content-container {
    padding-top: 50px;
  }
}

.content-greeting {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content-body {
  font-size: 1.25rem;
  line-height: 35px;
  margin-bottom: 15px;
}

.link-container {
  display: flex;
  flex-direction: column;
}

.link-container div:not(:last-child) {
  margin-bottom: 0.5rem;
}
