.content-greeting {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content-body {
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 15px;
}

.link {
  display: inline;
  cursor: pointer;
  transition: all 0.03s linear;
  color: var(--link);
}

.link:hover {
  color: var(--highlight);
}

.underlined {
  padding: 0 1px;
  border-bottom: 2px solid var(--link);
  transition: all 0.03s linear;
  text-decoration: none;
}

.underlined:hover {
  border-bottom: 2px solid var(--highlight);
}

.link-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 850px) {
  .content-greeting {
    font-size: 2rem;
  }

  .content-body {
    font-size: 1rem;
  }

  .link-container {
    font-size: 1rem;
  }
}
