:root {
  --text: #3a3d5b;
  --highlight: #3c7e99;
}

* {
  font-family: "Asap", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.headers-and-content {
  max-width: 800px;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 999;
  cursor: default;
  color: var(--text);
}

.headshot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  user-select: none;
}

.headshot {
  max-width: 600px;
  width: 100%;
  border: #fff solid 2px;
  transition: border 0.15s ease-in;
}

.headshot:hover {
  border: var(--text) solid 2px;
}

.greeting {
  font-size: 40px;
  margin-bottom: 10px;
}

.body {
  font-size: 19px;
  line-height: 25px;
}

.link {
  cursor: pointer;
  transition: color 0.08s linear;
}

.link:hover {
  color: var(--highlight);
}
