* {
  margin:0;
  padding:0;
  font-family: 'Asap', sans-serif;
}

html {
  background: #21262b no-repeat fixed;
  background-size: cover;
  background-position: right;
  height: 100%;
  margin-top: 10%;
}

.content-container {
  width: 71vw;
  height: 60vh;
  min-height: 500px;
  margin: 0;
  position: absolute;
  top: 50vh;
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
  right: 50vw;
}

.mountains-img-container {
  margin: 0;
  position: absolute;
  top: 48%;
  height: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.image-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.mountains-img {
  user-select: none;
  height: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar { 
    display: none;
}

.headers-and-content {
  text-align: left;
  bottom: 5%;
  left: 3%;
  position: fixed;
  z-index: 999;
  cursor: default;
  color: #F8D2BD;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #21262b; */
}

.headers-div {
  cursor: default;
}

.chinese-name {
  font-family: "Long Cang", cursive;
  font-size: 90px;
  margin-bottom: 25px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.name {
  font-size: 69px;
  margin: 2px;
}

.degree {
  font-size: 18px;
  margin: 2px;
  margin-bottom: 7px;
}

.school {
  font-size: 18px;
  margin: 2px;
}

.content-div {
  margin-top: 3%;
  cursor: default;
}

.icon-image {
  width: 25px;
}

/* -------------- ANIMATIONS -------------- */

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@-webkit-keyframes fadeOut {
  from { opacity:1 } 
  to { opacity:0 }
}

@keyframes fadeOut { 
  from{ opacity:1 } 
  to{ opacity:0 }
}