:root {
  --text: #3a3d5b;
  --highlight: #5673a7;
  --link: #90a5c4;
}

* {
  font-family: "Asap", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-blur {
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

/* @media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
} */

.headers-and-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: default;
  color: var(--text);
}

@media screen and (min-width: 850px) {
  .headers-and-content {
    flex-direction: row;
  }
}

.headshot-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  user-select: none;

  margin: 20px;
}

.headshot {
  max-height: 500px;
  height: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.headshot:hover {
  transform: scale(1.005);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 600px;
  width: 600px;
  height: 100%;

  padding-top: 50px;
  margin: 20px;
}
