:root {
  --text: #3a3d5b;
  --highlight: #5673a7;
  --link: #90a5c4;
  --box-color: #f1f1f1;
  --background: white;
  --underline-width: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e4e7eb;
    --highlight: #c4dafd;
    --link: #aec6ea;
    --box-color: rgba(255, 255, 255, 0.1);
    --background: #0c1d2a;
  }
}

@media screen and (max-width: 850px) {
  :root {
    --underline-width: 1px;
  }
}

* {
  font-family: "Asap", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background);
  width: 100vw;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.headers-and-content {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  text-align: left;
  cursor: default;
  color: var(--text);

  padding: 20px;
}

@media screen and (max-width: 850px) {
  .landing.headers-and-content,
  .stream.headers-and-content,
  .serials.headers-and-content,
  .openwater.headers-and-content {
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;
  }
}

.headshot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  user-select: none;

  box-sizing: border-box; /* Opera/IE 8+ */
}

@media screen and (max-width: 850px) {
  .landing > .headshot-container,
  .stream > .headshot-container,
  .serials > .headshot-container,
  .openwater > .headshot-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    align-items: start;
    justify-content: start;

    padding: 20px;
  }
}

@media screen and (min-width: 851px) {
  .landing > .headshot-container,
  .serials > .headshot-container,
  .stream > .headshot-container,
  .openwater > .headshot-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 20px;
    padding-left: 10vw;
  }
}

.headshot {
  border-radius: 0.5rem;
  overflow: hidden;

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.headshot:hover {
  transform: scale(1.005);
}

@media screen and (max-width: 850px) {
  .landing > .headshot-container > .headshot,
  .stream > .headshot-container > .headshot,
  .serials > .headshot-container > .headshot,
  .openwater > .headshot-container > .headshot {
    max-height: 48px;
    max-width: 48px;

    box-shadow: none;
  }
}

@media screen and (min-width: 851px) {
  .landing > .headshot-container > .headshot,
  .serials > .headshot-container > .headshot,
  .stream > .headshot-container > .headshot,
  .openwater > .headshot-container > .headshot {
    max-width: 90%;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 100%;

  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .landing > .content-container,
  .stream > .content-container,
  .serials > .content-container,
  .openwater > .content-container {
    padding-top: 80px;
    padding-bottom: 80px;
    width: auto;
  }
}

@media screen and (min-width: 851px) {
  .landing > .content-container,
  .serials > .content-container,
  .stream > .content-container,
  .openwater > .content-container {
    margin-left: 50%;

    padding: 20px;
    padding-right: 10vw;
  }
}

a {
  display: inline;
  cursor: pointer;

  color: var(--link);
  text-decoration: none;

  padding: 0 1px;
  border-bottom: var(--underline-width) solid var(--link);

  transition: all 0.03s linear;
}

a:hover {
  color: var(--highlight);
  border-bottom: 2px solid var(--highlight);
}
