:root {
  --text: #3a3d5b;
  --highlight: #5673a7;
  --link: #90a5c4;
  --box-color: rgb(231, 241, 251);
  --background: white;
  --underline-width: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e4e7eb;
    --highlight: #c4dafd;
    --link: #aec6ea;
    --box-color: #313556;
    --background: rgb(33, 33, 48);
  }
}

@media screen and (max-width: 850px) {
  :root {
    --underline-width: 1px;
  }
}

* {
  font-family: "Asap", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.headers-and-content {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;

  text-align: left;
  cursor: default;
  color: var(--text);
}

@media screen and (max-width: 850px) {
  .headers-and-content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .stream > .headers-and-content,
  .feuilleton > .headers-and-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.headshot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  user-select: none;

  padding: 20px;
  box-sizing: border-box; /* Opera/IE 8+ */
}

@media screen and (max-width: 850px) {
  .landing > .headshot-container {
    width: 100%;
  }

  .stream > .headshot-container,
  .feuilleton > .headshot-container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px;

    align-items: start;
    justify-content: start;
  }
}

.headshot {
  max-height: 500px;
  max-width: 500px;

  border-radius: 0.5rem;
  overflow: hidden;

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.headshot:hover {
  transform: scale(1.005);
}

@media screen and (max-width: 850px) {
  .headshot {
    max-height: 100%;
    max-width: 100%;
  }

  .stream > .headshot-container > .headshot,
  .feuilleton > .headshot-container > .headshot {
    max-height: 48px;
    max-width: 48px;

    box-shadow: none;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 100%;
  width: 560px;

  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .content-container {
    padding-bottom: 80px;
  }

  .stream > .content-container,
  .feuilleton > .content-container {
    width: auto;
  }
}

a {
  display: inline;
  cursor: pointer;

  color: var(--link);
  text-decoration: none;

  padding: 0 1px;
  border-bottom: var(--underline-width) solid var(--link);

  transition: all 0.03s linear;
}

a:hover {
  color: var(--highlight);
  border-bottom: 2px solid var(--highlight);
}
