.content-container {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 100px;
}

.stream-greeting {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: calc(50vh - 250px);
}

.stream-description {
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 15px;
}

li {
  line-height: 25px;
  margin: 15px 0;
  font-size: 0.9rem;

  padding: 1rem;
  background: var(--box-color);
  border-radius: 0.5rem;

  list-style: none;
}

@media only screen and (max-width: 850px) {
  .stream-greeting {
    font-size: 2rem;
    margin-top: 0;
  }
}
