* {
  font-family: 'Cardo';
  color:#666;
}

body {
  position: relative;
}

.title-and-content {
  width: 1000px;
  height: 600px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 100px 0 0 -520px;

  z-index: 999;
  /* width: 1000px; */
  background: rgba(255,255,255,0);
  border-bottom: 2px black;
  cursor: default;
  display: flex;
  flex-direction: row;
}

.title-div {
  cursor: default;
  margin: 20px;
  flex-grow: 5;
}

.title {
  font-family: 'Ubuntu';
  font-size: 60px;
  margin-bottom: 0.85%;
  color: #666;
}

.mediumtext {
  font-family: 'Cardo';
  font-size: 25px;
  color: #666;
  margin: 1px;
}

.smalltext {
  font-family: 'Cardo';
  font-size: 17px;
  color: #666;
  margin: 1px;
}

.thankstext {
  font-family: 'Cardo';
  font-size: 17px;
  color: #666;
  margin: 1px;
  margin-top: 20px;
}

.form-box-and-content {
  border: solid #666 1px;
  border-radius: 5px;
  padding: 25px;
  width: 1000px;
  height: 480px;
  flex-grow: 6;
}

.form-box {
  padding: 10px;
}

.checkbox-box {
  padding-bottom: 5px;
}

.checkbox-label {
  padding-left: 10px;
  font-size: 18px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.submit-button {
  margin-top: 20px;
}