.content-container {
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: 100px;
}

.looking-glass-greeting {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: calc(50vh - 250px);
}

.looking-glass-description {
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 15px;
}

ul {
  padding-left: 16px;
}

li {
  line-height: 25px;
  margin: 15px 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 850px) {
  .looking-glass-greeting {
    font-size: 2rem;
    margin-top: auto;
  }
}
