.content-container {
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: 100px;
}

.content-greeting {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: calc(50vh - 275px);
}

.content-body {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  align-items: start;
}

ul,
ol {
  margin-left: 0;
  margin-bottom: 15px;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 25px;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

@media only screen and (max-width: 850px) {
  .content-greeting {
    font-size: 2rem;
    margin-top: auto;
  }

  .content-body {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
}
